<phpunit colors="true" strict="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <!-- zend.assertions can't be changed in runtime,
         however I write here the set that should be in php.ini
         in order to some tests can run -->
        <ini name="zend.assertions" value="1"/>
        <ini name="assert.active" value="1"/>
        <ini name="assert.exception" value="1"/>
    </php>
</phpunit>
